/** ADD YOUR AWESOME CODES HERE **/
.butLingua {
    background-color: transparent !important;
    border: none !important;
    font-family: 'Playfair Display', serif !important;
    color: #ffffff !important;
    letter-spacing: 1px !important;
    font-size: 15px !important;
    position: relative !important;
    outline: none !important;
    cursor: pointer !important;
    display: inline-block !important;
}